# Environment and secrets
.env
*.env

# Virtual environments
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Caches
.pytest_cache/

# Vector DB
chroma_db/

# Local vector store/indexes
faiss_index/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
